<div class="container" style="text-align: center;">
    Online Room Finding Web Application  

    It is web application which provides help and interface to end user to easily locate the rooms.Various filters are provided as priority of each individual is different. So that they dont need to compromise with there preferences and choices.Main functionalities for User are Serching rooms,Posting rooms,Request rooms.Also there is Validator who actully cross checks rooms information and validate.So user need not to worry about fake posts.
    
    
    
</div>