<!--NAV BAR-->
<div style="background-color: darkmagenta;" class="rounded">
    <div class="col-12 text-light make-center beautify">
        <h3>Registrtion Form</h3>
    </div>
</div>
<form #myForm="ngForm" (ngSubmit)="register()">
    <div class="row">

        <div class="col-md-6 form-group">
            <label for="No">User name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name"
                [(ngModel)]="user.name">
        </div>

        <div class="col-md-6 form-group">
            <label for="Name">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email"
                [(ngModel)]="user.email">
        </div>

    </div>
    <div class="row">

        <div class="col-md-6 form-group">
            <label for="No">Gender</label>
            <select class="form-control" id="gender" name="gender" [(ngModel)]="user.gender">
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
                <option value="OTHER">OTHER</option>
            </select>
        </div>

        <div class="col-md-6 form-group">
            <label for="Name">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone number"
                [(ngModel)]="user.phoneNo">
        </div>

    </div>
    <div class="row">

        <div class="col-md-6 form-group">
            <label for="No">Password</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="Enter password"
                [(ngModel)]="user.password">
        </div>

        <div class="col-md-6 form-group">
            <label for="Name">Confirm Password</label>
            <input type="text" class="form-control" id="confirmPassword" name="confirmPassword"
                placeholder="re Enter password" [(ngModel)]="user.confirmPassword">
        </div>

    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3" style="align-content: center;">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="col-md-3">

            <button type="button" class="btn btn-danger" (click)="goHome()">Back</button>

        </div>
        <div class="col-md-3"></div>
    </div>
</form>