

<div class="container">
    <div class="row">

        <div class="col-4"></div>
        <div class="col-4">

                <form style="align-content: center;" method="POST" #myForm="ngForm" (ngSubmit)="ValidateUser(myForm)">

                        <h3 style="text-align: center;">Login Here</h3>
                        <div class="form-group">
                            <label for="">Select Role</label>
                            <select [(ngModel)]="form.role" type="role" name="role" class="form-control">
                                <option value="ADMIN">Employee</option>
                                <option value="USER">User</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input [(ngModel)]="form.email" type="email" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="">Password</label>
                            <input [(ngModel)]="form.password" type="password" name="password" class="form-control">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Login</button>
                            <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
                            <!-- <button (click)="onSignup()"  class="btn btn-warning pull-right">Signup</button> -->
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-link" href="forgotpass"
                                role="button">Forget Password ?</a>
                        </div>
                    </form>

        </div>
        <div class="col-4"></div>
    </div>


</div>