<!--NAV BAR-->
<div class="row bg-secondary" style="height: 55px; position: sticky; top: 0 ;z-index:9999;">

    <div class="col-2 text-light make-left beautify">
        R00M!s
    </div>
    <div class="col-2 text-light make-center beautify">
        <a style="color: aqua;" routerLink="/userhome">Home</a>
    </div>
    <div class="col-2 text-light make-center beautify">
        <a style="color: aqua;" routerLink="/postroom">Post Room</a>
    </div>
    <div class="col-2 text-light make-center beautify">
        <a style="color: aqua;" routerLink="/myrequests">My Requests</a>
    </div>
    <div class="col-2 text-light make-center beautify">
        <a style="color: aqua;" routerLink="/myrooms">My Rooms </a>
    </div>
    <div class="col-2 text-light make-center beautify">
        <a style="color: aqua;" routerLink="/logout">Log out </a>
    </div>


</div>


<!--OUTER CONTAINER-->
<div class="row container no-gutters div-sticky" style="position: sticky;">

    <span [hidden] = 'this.m'>
       <h3> You haven't requested for any room yet</h3>
    </span>
    <!--LEFT SIDE MAIN PAGE CONTENT-->
    <div class="col-md-12 row-md-5" style="position: relative;">

        <ng-container *ngFor="let item of rooms; index as i;">
            <!--FIRST IMAGE-->
            <div class="row">
                <div class="container-fluid make-center">
                    <div class="card mt-2" style="background-color: cadetblue">

                        <div class="card-header h6">
                            <div class="row">
                                <div class="col-md-4 rounded "
                                    style="background-color: darkolivegreen;text-align: center; color: aqua;">
                                    Validators Review: {{item.validateStatus}}</div>
                                <div class="col-md-4">Room Id: &nbsp;{{item.roomId}}</div>
                                <div class="col-md-4 span12 rounded"
                                    style="background-color: crimson ;color: wheat;text-align: center;">
                                    Rent:{{item.rent}}</div>
                            </div>
                        </div>
                        <!--CARD BODY SECTION IS DYNAMIC-->
                        <div (click)="viewsCount(item)" class="card-body pb-0 pt-0 pl-0 pr-0">

                            <div class="row" style="cursor: pointer;">
                                <div class="col-md-8">
                                    <div class="card">
                                        <img class="card-img" src="../assets/garden.jpg" alt="Card image"
                                            style="width:100%;">
                                        <button class="mybtn-right">
                                            < &nbsp; </button> <button class="mybtn-left">
                                                >
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-4" style="font-size: medium;">
                                    <label>Details by Owner :</label>
                                    <div style="background-color: darkmagenta;text-align: center;color: beige; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
                                        class="rounded">
                                        <p>{{item.description}}</p>
                                    </div><br>
                                    <label>Address details :</label>
                                    <div style="background-color: darkmagenta;text-align: center;color: beige; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
                                        class="rounded">
                                        City : {{item.location.city}}<br>
                                        Street : {{item.location.street}}<br>
                                        Pincode : {{item.location.zip}}<br>
                                    </div><br>
                                    <label> Owner Details :</label>
                                    <div style="background-color: darkmagenta;color: beige; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;text-align: center;"
                                        class="rounded">
                                        Name : {{item.owner.name}}<br>
                                        Email : {{item.owner.email}}<br>
                                        Phone no : {{item.owner.phoneNo}}<br>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </ng-container>

    </div>

</div>