<!--NAV BAR-->
<div class="row bg-secondary" style="height: 55px; position: sticky; top: 0 ;z-index:9999;">
    <div class="col-4 text-light make-left beautify">
        R00M!s
    </div>
    <div class="col-4 text-light make-center beautify">
      <h5>Welcome Validator</h5>
    </div>
    <div class="col-4 text-light make-center beautify">
        <a style="color: aqua;" routerLink="/logout">Log out </a>
    </div>
  </div>
<div class="table table-responsive  table-hover ">
  <table>
    <thead style="position: sticky;">
      <tr style="text-align: center;">

        <th>RoomId</th>
        <th>Owner name</th>
        <th>Contact details</th>
        <th>Upload date</th>
        <th>Address city </th>
        <th>Address street </th>
        <th>Landmark</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of roomlist;let owner of ownerlist" style="text-align: center;">
            <td>{{room.roomId}}</td>
            <td>{{room.owner.name}}</td>
            <td>{{room.owner.phoneNo}}</td>
            <td>{{room.postDate}}</td>
            <td>{{room.location.city}}</td>
            <td>{{room.location.street}}</td>
            <td>{{room.landmark}}</td>
        <td><a style="text-align: center;color: rgb(207, 125, 18);" routerLink="/validatoredit/{{room.roomId}}">View More</a></td>
       <td><button class="btn btn-danger btn-rounded" (click)="deleteRoom(room)">Delete</button></td>
      </tr> 
    </tbody>

  </table>
</div>